/*GENERAL*/
* {
    /*outline: 0 !important;*/
    font-family: Helvetica,​Arial,​sans-serif;
}

body {
    padding-top: 50px;
}

.sorter {
    cursor: grabbing;
}

.form-group {
    margin-bottom: 8px !important;
}
input.form-control {/*TODO fix padding on select*/
    padding: 5px 14px !important;
}
.table-responsive {
    width: auto !important;
}

.btn.disabled {
    pointer-events: auto !important;
}

/*MODAL*/
.modal-header {
    padding: 10px !important;
}
.modal-footer {
    padding: 10px !important;
}

/*TOOLS*/
.clearfix {
    clear: both !important;
}

/*NAVBAR*/
.navbar-inverse .navbar-brand {
    color: #fff !important;
}

.navbar-brand.active {
    background-color: #000 !important;
}

/*Change size for collapsing navbar*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
        overflow-y: auto !important;overflow-x: hidden !important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
/*End Change size for collapsing navbar*/

/*REPEATER*/
.fuelux .repeater-header, .fuelux .repeater-footer {
    min-height: 45px;
}

.fuelux .repeater {
    font-size: 0.9em;
    bottom: 0;
    border: none;
}

.fuelux .repeater th, .fuelux .repeater .repeater-list-heading {
    background-color:#969696 !important;
    color: white !important;
    border-left: 1px solid #fff !important;
}

.fuelux .repeater .repeater-list-heading {
    background-color:#969696 !important;
    color: white !important;
}

.fuelux .repeater-header {
    min-height: 0;
}

.fuelux .repeater[data-viewtype="list"] .repeater-canvas .repeater-list-heading.sortable:hover, .fuelux .repeater[data-viewtype="list"] .repeater-canvas .repeater-list-heading.sortable.sorted {
    background: none;
    background-color:#A5A5A5 !important;
}

.fuelux .repeater[data-viewtype="list"] .repeater-canvas .repeater-list table tbody td.sorted {
    background: none !important;
}

.fuelux tr.selectedTr, .fuelux tr.selectedTr td {
    background-color:#337ab7 !important;
    color: #fff !important;
}

/*Custom filter button*/
.btn.btn-default.btn-sm.hlx-filter {
    border: none !important;
    color:#1E90FF;
}

/*HEADER BAR*/
#headerbar {
    border-bottom: 1px solid #ddd;
    height: 46px;
    padding: 8px;
}

#headerbar h1 {
    float: left;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
}

/*TABS*/
#customerTabs.nav-tabs > li.active > a, #customerTabs.nav-tabs > li.active > a:focus, #customerTabs.nav-tabs > li.active > a:hover {
    border-top: 1px solid transparent;
}

.nav-tabs > li > a {
    border-radius: 0;
}

/*HOME*/
#panel-invoice-overview .amount, #panel-quote-overview .amount {
    font-weight: bold;
}

/*DOCUMENTS*/
#divLinesTable {
    margin-left:-15px;
    margin-right:-15px;
}

#linesTable th {
    padding:6px 8px;
    height:34px;
    background-color:#969696 !important;
    color: white !important;
    border-left: 1px solid #fff !important;
    text-align: center;
}
#linkedDocs th, #linkedPays th, #reportTable th {
    text-align: center;
    color: #fff;
    background-color:#969696 !important;
}
/*SETTINGS*/
.settingsTable th {
    padding:6px 8px !important;
    height:34px;
    background-color:#969696 !important;
    color: white !important;
    border-left: 1px solid #fff !important;
}

/*GENERIC*/
.amount {
    font-family: "Source Code Pro", Lucida Console, monospace;
    /*font-size: 90%;*/
    text-align:right;
}

.valign-middle {
    vertical-align: middle !important;
}

.text-bold {
    font-weight: bold;
}

/*Datepicker*/
.datepicker-dropdown {
    z-index: 1100 !important;
}

/*Loading*/
#loading {
    background: rgba(0, 0, 0, 0.65) none repeat scroll 0 0;
    color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
#loading .loadingContent {
    font-size: 200px;
    left: 0;
    opacity: 0.85;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
}

/*Drag and drop document list*/
.sortable-ghost {
    background-color:#C8EBFB;
}
.sortable-chosen {
   /* background-color:#BFBFBF;*/
}